# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Crash logs
crash.log
crash.*.log

# Variable files (VERY IMPORTANT - contains AWS keys if used)
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# OS files
.DS_Store

# SSH keys (never push private keys)
*.pem
*.key
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub